.css-i2418r {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  height: 54px !important;
  border: 1px solid #e2e8f0 !important;
  outline: none !important;
  box-shadow: none !important;
}
.css-i2418r:focus-visible {
  border: 2px solid #cccccc !important;
  outline: none !important;
  box-shadow: none !important;
}

.css-hji3d9 {
  color: black !important;
}

.css-stbgfn {
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
  background-color: #5aa48a !important;
  color: white !important;
  padding: 5px;
}

.css-1w2vfk5 {
  display: none !important;
}
.css-hfbj6y {
  border: white !important;
}
.css-xq12md {
  background: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
